<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>My Gardens</title>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/index.css">
  <style>
    .main-section{
      min-height: calc(100vh - 120px);
    }
  </style>
</head>
<body>
<!-- Navigation Bar -->
<header class="main-header">
  <div class="container">
    <a class="brand-logo" th:href="@{/}">
      <img src="images/logo.jpg" alt="logo">
    </a>
    <nav class="main-nav">
      <ul class="nav navbar-nav">
        <li><a th:href="@{/main}">Home</a></li>
        <li><a th:href="@{/create_garden}">Garden</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Useful Info</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" th:href="@{/garden/how_to_germinate_seeds}">How to germinate your seeds</a>
            <a class="dropdown-item" href="#">Customize Garden</a>
          </div>
        </li>

        <li><a th:href="@{/about_us}">About Us</a></li>
        <li class="dropdown" sec:authorize="isAuthenticated()">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account</a>
          <div class="dropdown-menu">
            <a th:href="@{/myPage}" class="dropdown-item">My Account</a>
            <a th:href="@{/myGardens}" class="dropdown-item">My Gardens</a>
          </div>
        </li>
        <li sec:authorize="isAnonymous()"><a th:href="@{/login}">Login</a></li>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
      </ul>
    </nav>
  </div>
</header>


<div class="container my-2 main-section" >
  <h1>My Garden List</h1>

  <a th:href="@{/create_garden}" class="btn btn-primary btn-sm mb-3"> Create Garden </a>
  <p></p>
  <table border="1" class="table table-striped table-responsive-md" style="margin:auto; width:100%; text-align: center;">
    <thead>
    <tr>
      <th>Garden ID</th>
      <th>Garden Name</th>
      <th>Garden House Type</th>
      <th>Garden Garden Type</th>
      <th>Garden Seed Type</th>
      <th> Actions </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="garden : ${gardenList}">
      <td th:text="${garden.gardenId}"></td>
      <td th:text="${garden.gardenName}"></td>
      <td th:text="${garden.houseType.houseName}"></td>
      <td th:text="${garden.gardenType.gardenName}"></td>
      <td>
        <li th:each="seed : ${garden.seedType}" th:text="${seed.seedName}"></li>
      </td>
      <td>
        <p></p>
        <a th:href="@{/updateGarden/{id}(id=${garden.gardenId})}" class="actionButton btn btn-primary">Update</a>
        <p></p>
        <a th:href="@{/deleteGarden/{id}(id=${garden.gardenId})}" class="actionButton btn btn-danger">Delete</a>
        <p></p>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!-- Footer -->
<footer class="main-footer">
  <div class="container">
    <nav class="footer-nav">
      <ul>
        <li><a href="#" class="social-link"><i class="bi bi-facebook"></i>Facebook</a></li>
        <li><a href="#" class="social-link"><i class="bi bi-pinterest"></i>Pinterest</a></li>
        <li><a href="#" class="social-link"><i class="bi bi-twitter"></i>Twitter</a></li>
        <li><a href="#" class="social-link"><i class="bi bi-youtube"></i>Youtube</a></li>
        <li><a href="#" class="social-link"><i class="bi bi-linkedin"></i>Linkedin</a></li>
      </ul>
    </nav>
    <nav class="footer-nav">
      <ul>
        <li><a th:href="@{/contact}">Contact</a></li>
      </ul>
    </nav>

  </div>



</footer>
</body>
</html>