<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
<!-- Footer -->
<footer class="main-footer">
    <div class="container">
        <nav class="footer-nav">
            <ul>
                <li><a href="#" class="social-link"><i class="bi bi-facebook"></i>Facebook</a></li>
                <li><a href="#" class="social-link"><i class="bi bi-pinterest"></i>Pinterest</a></li>
                <li><a href="#" class="social-link"><i class="bi bi-twitter"></i>Twitter</a></li>
                <li><a href="#" class="social-link"><i class="bi bi-youtube"></i>Youtube</a></li>
                <li><a href="#" class="social-link"><i class="bi bi-linkedin"></i>Linkedin</a></li>
            </ul>
        </nav>
        <nav class="footer-nav">
            <ul>
                <li><a th:href="@{/contact}">Contact</a></li>
            </ul>
        </nav>

    </div>
</footer>
</body>
</html>